.image-container {
  float: left;
  margin: 15px;
}

.image-container__image {
  width: 200px;
  height: auto;
  box-shadow: 3px 1px 5px #777777;
}

.find-waldo {
  cursor: default;
}

.random-text {
  font-size: 2em;
}
