body {
  margin: 0px;
}

.signup-form {
  background-color: #EFEFFF;
  height: 100%;
}

.signup-form__field-tag {
  user-select: none;
}

.signup-form__actions {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.signup-form__actions__button {
  background-color: lightBlue;
  border: none;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 3px 3px #cccccc;
  cursor: pointer;
}

.signup-form__actions__button:hover {
  box-shadow: none;
  transform: translateY(3px);
}

.signup-form__actions__button:active {
  background-color: #83C7E8;
}

.signup-form__actions__button:focus {
  outline: none;
}

.signup-form__information-group {
  border: 2px groove navy;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 3px 4px #cccccc;
}

.signup-form__information-group__title {
  font-weight: bold;
  color: navy;
}
