label {
  user-select: none;
}

.flex-left {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.cool-button {
  background-color: lightBlue;
  border: none;
  padding: 5px;
  box-shadow: 1px 3px 3px #cccccc;
}

.cool-button:hover {
  box-shadow: none;
  transform: translateY(3px);
}

.cool-button:active {
  background-color: #83C7E8;
}

.cool-button:focus {
  outline: none;
}

input[type="submit"] {
  margin-left: 5px;
}

html {
  background-color: #EFEFFF
}

legend {
  font-weight: bold;
  color: navy;
}

fieldset {
  border: 2px groove navy;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 3px 4px #cccccc;
}
